body {
    background-color: #132434;
    font-family: Roboto;
    color: #93B7CC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

li {
    list-style-type: none;
}

button:focus {
    outline: 0px;
}

.btn {
    background: transparent;
    color: #3893B1;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 24px;
}