.weather__container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.weather__info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: map-get($sizes, m);
}

.weather__current-time {
    color: map-get($colors, 3);
    font-size: map-get($sizes, xxxl);
}

.waether__city-name  {
    font-size: map-get($sizes, xl);
    font-weight: bold;
}

.weather__end-time {
    color: map-get($colors, 5);
}

.weather__temp {
    color: map-get($colors, 5);
    font-size: map-get($sizes, l);
    padding-bottom: map-get($sizes, m);
}

@media(max-width: 400px) {
    .weather__container {
        flex-direction: column;
    }
    .weather__info-block--first-ordered {
        order: -1;
        padding-bottom: map-get($sizes, xxxl);
    }
}